<div class="contianer">
    <header class="jumbotron jumbotron-fluid" style="position: sticky;width:100%;margin-top: 0%;margin-bottom: 0%;">
      <div class="contianer">
        <p style="text-align: center;">TradeMark Social-Media-App 2020</p>
</div>  
</header>
</div>

</body>
</html>
